body{
    background-color: #0c141b;
}
.page-container{
    background-color: #0c141b;
}
.header{
   display: flex;
   color: white;
   border: 2px solid rgb(0, 0, 0);
   justify-content: space-around;
}
.highlight{
    color: pink;
}
.logo{
    font-size: 25px;
}
.content{
    color: white;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    width: 320px;
    justify-self: center;
}
 
.stukje{
    display: flex;
    justify-content: center;
}
 
.plaatje{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    justify-self: center;
    width: 800px;
    height: 400px;
}
.container1 {
  margin: 0;
  padding: 0;
  background-color: #0f1117;
  font-family: 'Inter', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 
.section {
  text-align: center;
  border: rgb(0, 0, 0) 2px solid;
  padding: 30px;
}
 
 
.heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: -60px;
}
 
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 13px;
  align-items: center;
  width: 650px;
  justify-self: center;
}
 
.tag {
  padding: 16px 18px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: #1d1f29;
}
 
 
.tag.pink {
  background-color: #182632;
  color: #FFB4D3;
}
 
.tag.yellow {
  background-color: #182632;
  color: #FFC24C;
}
 
.tag.purple {
  background-color: #182632;
  color: #D387F7;
}
 
.tag.blue {
  background-color: #182632;
  color: #77E6FF;
}
 
.tag.teal {
  background-color: #182632;
  color: #23C9DE;
}
 
.tag.red {
  background-color: #182632;
  color: #FF9E9E;
}
 
.tag.dark {
  background-color: #182632;
  color: #707F8D;
}
.vakje{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 0px;
    color: white;
    font-size: 38px;
    justify-self: center;
}
 
.block{
  display: flex;
  background-color: #FFB4D3;
  width: 260px;
  font-size: 15px;
  border-radius: 18px;
  justify-content: center;
  height: 20px;
  justify-self: center;
  margin-bottom: 6px;
}
 
.textblock{
  color: rgb(255, 255, 255);
  width: 400px;
  font-size: 22px;
  flex-direction: column;
  padding: 30px;
  border: 2px solid rgb(0, 0, 0);
  height: 380px;
  justify-self: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
 
 
.tweede{
  color: #FFB4D3;
}
 
 
.ethereum1{
  width: 45px;
  height: 45px;
  border: white;
}
 
.workswith-title{
  color: white;
  justify-self: center;
  margin-top: 50px;
}
 
.three-star1{
  width: 1px;
  height: 1px;
  font-size: 1px;
  margin-left: 330px;
}
 
.p{
  color:#37424D;
}
 
.works{
  border: white 2px solid;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: flex-end;
  width: 700px;
  justify-self: center;
}
 
.workswith-icons{
  border: white 2px solid;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: flex-end;
  width: 700px;
  justify-self: center;
}
 
.png1{
  width: 45px;
}
 
.png2{
  width: 45px;
}
 
.png3{
  width: 45px;
}
 
.png4{
  width: 45px;
}
 
.png5{
  width: 45px;
}
 
.png6{
  width: 45px;
}
 
 
.workswith-icons {
    border: white 2px solid;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
    align-items: flex-end;
    width: 750px;
    justify-self: center;
}
 
 
.work1 {
    color: white;
    font-size: 20px;
}
.wark1{
    background-color: #1d1f29;
    border-radius: 12px;
    height: 80px;
    width: 80px;
    border: rgb(150, 149, 149) 1px solid;
}
.logo-image1{
    width: 50px;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
 
 
.work2 {
    color: white;
    font-size: 20px;
}
.wark2{
    background-color: #1d1f29;
    border-radius: 12px;
    height: 80px;
    width: 80px;
    border: rgb(150, 149, 149) 1px solid;
}
.logo-image2{
    width: 50px;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
 
 
.work3 {
    color: white;
    font-size: 20px;
}
.wark3{
    background-color: #1d1f29;
    border-radius: 12px;
    height: 80px;
    width: 80px;
    border: rgb(150, 149, 149) 1px solid;
}
.logo-image3{
    width: 50px;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
 
 
.work4 {
    color: white;
    font-size: 20px;
}
.wark4{
    background-color: #1d1f29;
    border-radius: 12px;
    height: 80px;
    width: 80px;
    border: rgb(150, 149, 149) 1px solid;
}
.logo-image4{
    width: 50px;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
 
 
.work5 {
    color: white;
    font-size: 20px;
}
.wark5{
    background-color: #1d1f29;
    border-radius: 12px;
    height: 80px;
    width: 80px;
    border: rgb(150, 149, 149) 1px solid;
}
.logo-image5{
    width: 50px;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}
 
 
.work6 {
    color: white;
    font-size: 20px;
}
.wark6{
    background-color: #1d1f29;
    border-radius: 12px;
    height: 80px;
    width: 80px;
    border: rgb(150, 149, 149) 1px solid;
}
 
.heroes{
  color: white;
  justify-self: center;
  margin-top: 80px;
}
 
.block1{
  background-color: #FFB4D3;
  width: 215px;
  height: 220px;
  border-radius: 12px;
}
 
.block2{
  background-color: #FFB4D3;
  width: 215px;
  height: 220px;
  border-radius: 12px;
}
 
.block3{
  background-color: #FFB4D3;
  width: 215px;
  height: 220px;
  border-radius: 12px;
}
 
.blokken{
  display: flex;
  gap: 15px;
  justify-self: center;
}
 
.foto1{
  height: 100px;
  width: 100px;
  border-radius: 15px;
  margin-left: 60px;
  margin-top: 10px;
}
 
.foto2{
  height: 100px;
  width: 100px;
  border-radius: 15px;
  margin-left: 60px;
  margin-top: 10px;
}
 
.foto3{
  height: 100px;
  width: 100px;
  border-radius: 15px;
  margin-left: 60px;
  margin-top: 10px;
}
 
.mail{
  width: 600px;
  height: 200px;
  border: white 1px solid;
  background-color: #1a222b;
  border-radius: 20px;
  justify-self: center;
  justify-items: center;
  color: white;
  margin-top: 100px;
}
.mail2{
  height: 80px;
  width: 600px;
  border-radius: 20px;
  justify-self: center;
  display: flex;
  justify-items: center;
  gap: 12px;
  margin-left: 140px;
  margin-top: 33px;
}
 
.email{
  width: 350px;
  height: 40px;
  background-color: #0f1921;
  border-radius: 10px;
}
 
.subscribe-button{
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #CEAAFF;
}
 
.press{
  border: white 2px solid;
  width: 680px;
  height: 50px;
  justify-self: center;
  justify-content: space-between;
  color: white;
  align-items: center;
  display: flex;
  margin-top: 90px;
}
 
.blok1{
  background-color: #77E6FF;
  width: 215px;
  height: 240px;
  border-radius: 12px;
}
 
.blok2{
  background-color: #E2C1F9;
  width: 215px;
  height: 240px;
  border-radius: 12px;
}
 
.blak1{
  margin-left: 5px;
}
 
.blak2{
  margin-left: 5px;
}
 
.blak3{
  margin-left: 5px;
}
 
.blok3{
  background-color: #DBE268;
  width: 215px;
  height: 240px;
  border-radius: 12px;
}
 
.blokjes{
  display: flex;
  gap: 15px;
  justify-self: center;
}
 
.blok4{
 
  background-color: #1a222b;
  width: 215px;
  height: 240px;
  border-radius: 12px;
}
 
.blok5{

  background-color: #1a222b;
  width: 215px;
  height: 240px;
  border-radius: 12px;
}
 
.blok6{

  background-color: #1a222b;
  width: 215px;
  height: 240px;
  border-radius: 12px;
}
 
.blokjes2{
  display: flex;
  gap: 15px;
  justify-self: center;
  color: white;
}
 
.blockworks2{
  width: 120px;
  height: 20px;
  margin-top: 8px;
  margin-left: 10px;
}
 
.blockworks1{
  width: 115px;
  height: 35px;
  margin-top: 8px;
  margin-left: 10px;
}
 
.blockworks3{
  width: 130px;
  height: 25px;
  margin-top: 8px;
  margin-left: 10px;
}
 
.footer{
  background-color: #1f303d;
  margin-top: auto;
  align-content: space-around;
  color: white;
  display: flex;
}

.blak7{
    margin-left: 15px;
}
.blak8{
    margin-left: 15px;
}
.blak9{
    margin-left: 15px;
}
.blockworks7{ 
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  margin-left: 15px;
  margin-top: 15px;

} 
.blockworks8{ 
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  margin-left: 15px;
  margin-top: 15px;


}
.blockworks9{ 
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  margin-left: 15px;
  margin-top: 15px;
}
 .icons{
  height: 34px;
  flex-direction: row;
  display: flex;
  align-self: center;
  gap: 8px;

}
.footer{
  background-color: #121E28;
  margin-top: 80px;
  align-content: space-around;
  color: white;
  display:flex; 
  height: 80px;
  justify-content: space-between;
width: 100%;
}
.eind {
  flex-direction: row;
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 20px;
} 
.legal-1{
  color: yellow;
}